@using KEC.ECommerce.Web.UI.Models;
@model IEnumerable<ProductViewModel>
@if (Model.Any())
{
    <div class="border bd-blue">
        <div class="cell-md-full">
            <div class="ui horizontal divider">
                <p class="text-center text-bold text-upper fg-orange">New in stock</p>
            </div>
        </div>
        <div class="owl-carousel  p-2 owl-theme">
            @foreach (var product in Model)
            {
            <div class="item grid">
                <div class="ribbon-wrapper-orange">
                    <div class="ribbon-orange">NEW</div>
                </div>
                <div class="row">
                    <div class="cell-md-5 cell-sm-12 img-container">
                        <img src="@Url.Content(product.ThumbnailUrl)" class="img-thumbnail">
                    </div>
                    <div class="cell-md-7 cell-sm-12 match-description-height">
                        <div class="row">
                            <div class="cell">
                                <h5 class="text-light fg-blue fg-dark-hover">@product.Author</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell pr-8-md">
                                <h5 class="text-light fg-blue">@product.Title</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <p class="description">@product.Description</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <h4 class="text-light fg-blue mt-4">@@@string.Concat("KES", product.UnitPrice)</h4>
                            </div>
                        </div>
                        @{

                            Html.RenderPartial("_ShoppingForm", product);
                        }
                    </div>
                </div>
            </div>

            }

        </div>
    </div>

}

