<div class="footer">
    <div class="pull-right">
        Voucher Management Portal
    </div>
    <div>
        <strong>Copyright</strong> Kenya Education Cloud &nbsp; &copy; @DateTime.Now.Year
    </div>
</div>
