
@{ 

    ViewBag.Title = "Authorization Failed";
}
<h2 style="text-align:center;color:red; font-weight:bold;">Authorization Failed For The Requested Resource!!</h2>

<p style="text-align:center;color:red; font-weight:bold; font-size:15px;">@ViewData["Message"]</p>