
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEC Certificate</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="text/css" />
   

</head>

<body class="gray-bg">


    <div class="middle-box  text-center" style="padding:-200px!important;">
        
           <img src="logo.png" width="250" height="120" style="margin-left:40px;">  <br><br><br><br>
           <h1 style="font-family:Tangerine;text-align: center; font-weight: bold; font-size: 60px;">Certificate of  Completion</h1><br><br>

           <h4>THIS CERTIFIES THAT</h4><br><br><br>
           <p>____________________________________________________________________<br><br>

           HAS SATISFACTORILY COMPLETED THE CURATION REQUIREMENTS AS <br> PRESCRIBED BY THE KENYA CLOUD EDUCATION  ON 27th MARCH 2018.

           </p>
           <br><br><br>
           <img src="cert.jpg" width="150" height="150">
           <br><br><br><br><br><br>
         <div class="row">
             <div class="col-md-4" style="float: left;">
                <p>_____________________________<br><br>
                Curation Manager</p>

             </div>
             <div class="col-md-4">
            
             </div>
             <div class="col-md-4" style="float: right;">
               <p>______________________________<br><br>
                KEC Director</p>
             </div>
         </div>

    </div>

     <button id="top"  onclick="myFunction()" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Certificate </button>

            <script>
            function myFunction() {
                window.print();

            }
            </script>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
