@{
    ViewBag.Title = "Home Page";
}
@if (User.IsInRole("System Admin"))
{
    <div class="jumbotron text-center">

        <h3>SYSTEM USER MANAGEMENT PORTAL</h3>

    </div>

    <div class="row">

    </div>

}
@if (User.IsInRole("School Admin"))
{
    <div class="jumbotron text-center">

        <h3>SCHOOL MANAGEMENT PORTAL</h3>

    </div>
    <div class="row">

    </div>
}
@if (User.IsInRole("Batch Creator"))
{
    <div class="jumbotron text-center">

        <h3>BATCH MANAGEMENT PORTAL</h3>

    </div>
    <div class="row">

    </div>
}
@if (User.IsInRole("Voucher Creator"))
{
    <div class="jumbotron text-center">

        <h3>VOUCHER CREATION PORTAL</h3>

    </div>
    <div class="row">

    </div>
}
@if (User.IsInRole("Voucher Approver"))
{
    <div class="jumbotron text-center">

        <h3>VOUCHER APPROVAL PORTAL</h3>

    </div>
    <div class="row">

    </div>
}
@if (User.IsInRole("Data Creator"))
{
    <div class="jumbotron text-center">

        <h3>DATA CREATION PORTAL</h3>

    </div>
    <div class="row">

        
    </div>
}
