@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row" style="">
    <div class="form-group" style="text-align:center; font-size:14px; padding:10px;">
        <label>Forgot password Confirmation</label>
        <p>
            Please check your email to reset your password.
        </p>
        <p style="text-align:center;">
            @Html.ActionLink("Go back to Login", "Login")
            <br /> &copy;KEC 2018
        </p>
    </div>
</div>
	
