@{
    ViewBag.Title = "Error occurred";
}
<div class="grid">
    <div class="row">
        <div class="border bd-blue h-center">
            <div class="cell-md-full">
                <h1 class="text-center text-bold text-upper fg-red">500 - We have a problem</h1>
            </div>
            <div class="cell-md-full">
                <p class="text-center fg-blue">Sorry, an error occurred while executing your request.</p>
            </div>
        </div>
    </div>
</div>