@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h2>PUBLISHERS PORTAL</h2>
    
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="#">
            <div class="widget style1 green-bg" style="background-color:#00af57; color:white;">
                <div class="row">
                    <div class="col-xs-4">
                        <i style="color:white;"  class="fa fa-check-circle-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span><a href="~/Publisher/Approved" style="text-decoration:none;color:white;"> Approved<br /> Publications </span>
                        <br />
                        <h4>Count Here</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a href="#">
            <div class="widget style1 black-bg" style="color:white;">
                <div class="row">
                    <div class="col-xs-4">
                        <i style="color:white;"  class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span><a href="~/Publisher/Approved" style="text-decoration:none;color:white;"> Partially Approved Publications </span>
                        <br />
                        <h4>Count Here</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a href="#">
            <div class="widget style1 red-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i style="color:white;" class="fa fa-window-close fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span><a href="~/Publisher/Approved" style="text-decoration:none;color:white;"> Rejected<br /> Publications</a></span>
                        <br />
                        <h4>Count Here</h4>
                    </div>
                </div>
            </div>
        </a>

    </div>
    
</div>



