@using KEC.Curation.PublishersUI.Models;
@model Publishers
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-top:-20px;margin-bottom:-20px;">
    <h2>Publishers Portal</h2>

</div>

<div class="row">
    <div class="col-lg-4">

        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-book fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> All Publications </span>
                    <h3 id="all_wait">loading...</h3>
                    <br>
                    <a href="/Home/AllPublications" style="color:white;font-size: 14px;">Click to View List</a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Approved Publications </span>
                    <h3 id="approved_wait">loading...</h3>
                    <br>
                    <a href="/Home/Approved" style="color:white;font-size: 14px;">Click to View List</a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-exclamation fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Rejected Publications </span>
                    <h3 id="rejected_wait">loading...</h3>
                    <br>
                    <a href="/Home/Rejected" style="color:white;font-size: 14px;">Click to View List</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="form-group col-md-10">
    <input type="text" name="CurrentUserGuid" id="CurrentUserGuid" class="form-control hidden" value="@Model.guid">
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    const apiBaseUrls = "https://curationapi-d.kec.ac.ke/api";
</script>

<script type="text/JavaScript">

    $(document).ready(function () {
        let UserGuid = $('#CurrentUserGuid').val();
        let PendingUrl = apiBaseUrls.concat(`/curationmanagers/count/all/publisher/${UserGuid}`);
        var PendingCount = $('#all_wait');
        $.ajax({
            url: PendingUrl,
            type: "GET",
            dataType: "json",
            success: function (data, status, jqhxr) {
                $('#all_wait').html(data)
            }
        });
    }) ;
</script>
<script type="text/JavaScript">

    $(document).ready(function () {
        let UserGuid = $('#CurrentUserGuid').val();
        let ApprovedUrl = apiBaseUrls.concat(`/curationmanagers/count/approved/publisher/${UserGuid}`);
        var ApprovedCount = $('#approved_wait');
        $.ajax({
            url: ApprovedUrl,
            type: "GET",
            dataType: "json",
            success: function (data, status, jqhxr) {
                $('#approved_wait').html(data)
            }
        });
    }) ;
</script>
<script type="text/JavaScript">

    $(document).ready(function () {
        let UserGuid = $('#CurrentUserGuid').val();
        let RejectedUrl = apiBaseUrls.concat(`/curationmanagers/count/rejected/publisher/${UserGuid}`);
        var RejectedCount = $('#rejected_wait');
        $.ajax({
            url: RejectedUrl,
            type: "GET",
            dataType: "json",
            success: function (data, status, jqhxr) {
                $('#rejected_wait').html(data)
            }
        });
    }) ;
</script>

