
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UPLOAD CSV TO REGISTER SCHOOLS</h2>
<body>
    <form method="post" action="http://localhost:60823/api/schools">
        <fieldset>
            <legend>UPLOAD CSV TO REGISTER SCHOOLS </legend>

            <input type="file" name="postedFile" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        
        </fieldset>
    </form>
</body>

