
  
  .ribbon-wrapper-orange {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
  }
  
  .ribbon-orange {
    font: bold 15px Sans-Serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color:#FFA500;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd27f), to(#FFA500)); 
    background-image: -webkit-linear-gradient(top, #ffd27f, #FFA500); 
    background-image:    -moz-linear-gradient(top, #ffd27f, #FFA500);   
    background-image:      -o-linear-gradient(top, #ffd27f, #FFA500);  
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  }
  
  .ribbon-orange:before, .ribbon-orange:after {
    content: "";
    border-top:   3px solid #FFA500;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
  }
  
  .ribbon-orange:before {
    left: 0;
  }
  .ribbon-orange:after {
    right: 0;
  }
