html, body, div {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#wrap {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #aaa;
}


#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 20;
}
ol.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px
}

    ol.breadcrumb > li {
        display: inline-block
    }

        ol.breadcrumb > li + li:before {
            padding: 0 5px;
            color: #ccc;
            content: ">>"
        }

    .breadcrumb > .active {
        color: #777
    }
