@{
    ViewData["Title"] = "Dashbord";
}
<div class="grid">
    <div class="row">
        <div class="cell-md-full">
            <div class="ui horizontal divider">
                <p class="text-center text-bold text-upper fg-orange">Welcome back</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-md-full">
            <div data-role="tile" class="bg-green m-2">
                <span class="icon mif-cart"></span>
                <span class="branding-bar">Pending Orders</span>
            </div>
        </div>
    </div>
</div>