@{
    ViewData["Title"] = "Dashboard";
}
<div class="grid">
    <div class="row">
        <div class="cell-md-full">
            <div class="ui horizontal divider">
                <p class="text-center text-bold text-upper fg-orange">Welcome back</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-md-3">
            <ul class="v-menu bg-blue fg-white">
                <li class="bg-green">@await Component.InvokeAsync("ShoppingCart")</li>
                <li class="menu-title">Store</li>
                <li>
                    @await Component.InvokeAsync("VerticalMenu")
                </li>
            </ul>
        </div>
        <div class="cell-md-9">
            <div class="tiles-grid">
                <a asp-action="Orders" asp-controller="Account"
                   data-role="tile" class="bg-orange m-2">
                    <span class="mif-cart icon"></span>
                    <span class="branding-bar">Pending orders</span>
                </a>
                <a asp-action="Orders" asp-controller="Account"
                   data-role="tile" class="bg-amber m-2">
                    <span class="mif-profile icon"></span>
                    <span class="branding-bar">Profile</span>
                </a>
                <a asp-action="Purchases" asp-controller="Account"
                   data-role="tile" class="bg-blue m-2">
                    <span class="mif-money icon"></span>
                    <span class="branding-bar">Purchases</span>
                </a>
                <a asp-action="Licences" asp-controller="Account"
                   data-role="tile" class="bg-pink m-2">
                    <span class="mif-library icon"></span>
                    <span class="branding-bar">Purchased Licences</span>
                </a>
                <a asp-action="Index" asp-controller="Home"
                   data-role="tile" class="bg-green m-2">
                    <span class="mif-envelop icon"></span>
                    <span class="branding-bar">Messages</span>
                </a>
                <a asp-action="Logout" asp-controller="Account"
                   data-role="tile" class="bg-red m-2 logout">
                    <span class="mif-exit icon"></span>
                    <span class="branding-bar">Logout</span>
                </a>
            </div>
        </div>

    </div>
</div>