@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password";
}
<div class="grid">

    <div class="row">
        <div class="cell-md-4 h-center">
            <form role="form" asp-action="ForgotPassword"
                  asp-controller="Account" asp-antiforgery="true">
                <div class="ui segment">
                    <div class="ui horizontal divider">
                        <p class="text-center text-bold text-upper fg-orange">Forgot your password</p>
                    </div>
                    @{
                        await Html.RenderPartialAsync("_ValidationErrorPartial");
                    }
                    <div class="form-group">
                        <input type="email" required asp-for="EmailAddress" placeholder="Email Address"
                               data-prepend="<span class='mif-user icon'></span>"
                               data-role="input" data-clear-button="false" />
                    </div>
                    <hr class="fg-darkGray" />
                    <div class="clear mt-2 form-actions">
                        <button class="button success outline rounded h-center">Send me Password reset instructions</button>
                    </div>
                </div>
            </form>
            <div class="ui message bg-orange fg-white">
                <a asp-controller="Account" asp-action="Login" class="fg-white">Remembered password? Login</a>
            </div>
        </div>
    </div>
</div>

