@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="grid">
    <div class="row">
        <div class="cell-md-full">
            <div class="border bd-blue m-1">
                <div class="ui horizontal divider">
                    <p class="text-center text-bold text-upper fg-orange">Forgot Password Confirmation</p>
                </div>
                <h4 class="text-upper text-center text-bold fg-green p-2">Password reset instructions sent successfully.</h4>
                <h6 class="fg-blue text-center text-upper text-light p-2">Please check your email to reset your password.</h6>
                <a asp-action="Index" asp-controller="Home" class="button  info h-center m-2 outline rounded">
                    <span class="mif-home icon"></span> Take me home
                </a>
            </div>
        </div>
     
    </div>
</div>