@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}
<div class="grid">

    <div class="row">
        <div class="cell-md-4 h-center v-center">
            <form role="form" asp-action="Login"
                  asp-controller="Account" asp-antiforgery="true">
                <div class="ui stacked segment">
                    <div class="ui horizontal divider">
                        <p class="text-center text-bold text-upper fg-orange">Welcome back</p>
                    </div>
                    @{
                        await Html.RenderPartialAsync("_ValidationErrorPartial");
                    }
                    <div class="field">
                        <label asp-for="EmailAddress" class="fg-darkGray fg-black-hover"></label>
                        <input type="email" required asp-for="EmailAddress" data-role="input" class="text-lower" />
                    </div>
                    <div class="field">
                        <label asp-for="Password" class="fg-darkGray fg-black-hover"></label>
                        <input type="password" required asp-for="Password" data-role="input" />
                    </div>
                    <div class="field">
                        <input type="checkbox" asp-for="RememberMe" data-role="checkbox" data-caption="Remember me">
                    </div>
                    <div class="clear mt-2 field">
                        <button class="button success outline rounded place-left">Login</button>
                        <a role="button" asp-controller="Home" asp-action="Index" class="button alert outline rounded place-right">Cancel</a>
                    </div>
                </div>
            </form>
            <div class="ui message bg-orange fg-white">
                <a asp-controller="Account" asp-action="Register" class="fg-white">New to us? Register</a>
            </div>
        </div>
    </div>
</div>

