@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Pending Orders";
}
<div class="border bd-blue">
    <div class="grid">
        <div class="row">
            <div class="cell-md-full">
                <div class="ui horizontal divider">
                    <p class="text-center text-bold text-upper fg-orange">Pending Orders</p>
                </div>
            </div>
        </div>
        <div id="orders">
            @{
                await Html.RenderPartialAsync("_OrdersPartial", Model);
            }
        </div>
        <div class="row p-2">
            <div class="cell-md-full">
                <a asp-action="Dashboard" asp-controller="Account" class="button  info h-center m-2 outline rounded">
                    <span class="mif-backward icon"></span> Back to Dashboard
                </a>
            </div>
        </div>
    </div>
</div>

