@model RegisterViewModel;
@{
    ViewData["Title"] = "Register Account";
}
<div class="grid">
    <div class="row">
        <div class="cell-md-6 h-center">
            <form role="form" class="p-2" asp-action="Register"
                  asp-controller="Account" asp-antiforgery="true">
                <div class="ui segment">
                    <div class="ui horizontal divider">
                        <p class="text-center text-bold text-upper fg-orange">User Registration</p>
                    </div>
                    @{
                        await Html.RenderPartialAsync("_ValidationErrorPartial");
                    }
                    <div class="form-group">
                        <input type="text" required asp-for="FirstName" data-role="input"
                               placeholder="First Name" data-clear-button="false" />
                    </div>
                    <div class="form-group">
                        <input type="text" required asp-for="LastName" data-role="input"
                               placeholder="Last Name" data-clear-button="false" />
                    </div>
                    <div class="form-group">
                        <input type="email" required asp-for="EmailAddress" data-role="input" class="text-lower"
                               data-clear-button="false" placeholder="Email Address" />
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="IdentificationCode" data-role="input" class="text-upper"
                               data-clear-button="false" placeholder="Identification Code" />
                    </div>
                    <div class="form-group">
                        <input type="password" required asp-for="Password" data-role="input"
                               data-clear-button="false" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" required asp-for="ConfirmPassword" data-role="input"
                               placeholder="Confirm Password" data-clear-button="false" />
                    </div>
                    <hr class="fg-darkGray" />
                    <div class="clear mt-2 field form-actions">
                        <button class="button success outline rounded place-left">Register</button>
                        <a role="button" asp-controller="Home" asp-action="Index" class="button alert outline rounded place-right">Cancel</a>
                    </div>
                </div>
            </form>
            <div class="ui message bg-orange fg-white">
                <a asp-controller="Account" asp-action="Login" class="fg-white">Already have an account? Login</a>
            </div>
        </div>
    </div>
</div>


