@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="grid">
    <div class="row">
        <div class="cell-md-full">
            <div class="border bd-blue m-1">
                <div class="ui horizontal divider">
                    <p class="text-center text-bold text-upper fg-orange">Reset password confirmation</p>
                </div>
                <h4 class="text-upper text-center text-bold fg-green p-2">Your password has been reset successfully.</h4>
                <h6 class="fg-blue text-center text-upper text-light p-2">Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.</h6>
            </div>
        </div>
    </div>
</div>