@{
    ViewBag.Title = "Registration Confirmation";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to confirm Your Registration.
    </p>
</div>

