@{
    ViewBag.Title = "Registration Confirmation";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<div class="row" style=" margin-top:60px;">
    <div class="form-group" style="text-align:center; font-size:14px; padding:10px;">
        <label>Registration Confirmation</label>
        <p>
            Please check your email to confirm Your Registration.
        </p>
        <p style="text-align:center;">
            <br /> &copy;KEC 2018
        </p>

    </div>
</div>

