@using KEC.Curation.PublishersUI.Models;
@model Publishers
@{
    ViewBag.Title = "Landing";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}



<!-- Header -->
<header id="header">
    <div class="">
        <img src="~/Content/images/KEClogo.png" style="width:200px;">
    </div>
    <div class="content">
        <div class="inner">
            <h1>KENYA EDUCATION CLOUD</h1>
            <p>Welcome to the Publishers' portal.</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#intro">Instructions</a></li>
            <li><a href="/Account/Login">Login</a></li>
            <li><a href="/Account/Register">Register</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <article id="intro">
        <h2 class="major">Instructions</h2>
        <p>Welcome to Kenya Education Cloud</p>
        <p>
            For registered members, kindly click on the login button on the landing page to access you account.<br />
            For new members, click on the register button on the landing page to access publishers content management system.
            On logging in the account, the dashboard menu will have following items; Home, Upload, Status on the left side of the screen
            &amp; log off on the top right corner and below is the content of the menu items
        </p>


        <ul>
            <li>
                Home: Shows the number of your publications categorized by the approval/reject
                status. If you have no publication yet, "Nothing to Display" will be displayed.
            </li>
            <li>Upload: Presents you with a form to upload your publication. Kindly fill all the details as instructed in the form. </li>
            <li>Status: Shows a list of all your publication characterized by their status. There are 3 categories: approved, partially approved and rejected.</li>
            <li>Log off: Logs you off the account</li>
        </ul>

        <h4><u>Instruction to publishers on content formats and upload</u></h4>
        <ul>
            <li>
                Kindly note that the content formats accepted are PDF. ePub, HTML5, and MP4 only.
            </li>
            <li>
                Packaging of the content should be done such that PDF, ePub, and MP4 are uploaded directly, not in folder(s)
            </li>
            <li>
                HTML5 files should be zipped; kindly DO NOT zip a folder, instead, open the folder containing the files, highlight all the
                content files (ensuring you have named the home page as index.html) and then zip the content.
            </li>
        </ul>
    </article>




</div>



