@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<hgroup class="title"></hgroup>
<br>
<br>
<br>
<br>
<div style="text-align:center">
    <h3>@ViewBag.Title.</h3>
</div>
<div style="text-align:center">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
