
@{
    ViewBag.Title = "Kenya Education Cloud Publishers Terms And Conditions";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

    <div class="container-fluid">
        <div class="well-lg">
            <h4> Kenya Education Cloud Publishers Terms And Conditions</h4>
        </div>
        <div class=" container">
            <div class="col-lg-8">

                </div>
        </div>
    </div>

