@{
    ViewData["Title"] = "Publishers List";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/plugins/footable/footable.all.min.js"></script>
<link href="~/Content/footable/footable.core.css" rel="stylesheet" />
<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <p>
                    <h1>KEC Registered Publishers List </h1>
                </p>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search For A Publiser</h5>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
                    <table id="publishersList" class="footable table table-stripped" data-page-size="50" data-filter="#filter">

                        <tr class="footable-sortable">
                            <th> Publisher </th>
                            <th> Contact</th>
                            <th> Phone Number </th>
                            <th> Email </th>
                        </tr>

                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group ">


        </div>
    </div>
    <div class="footer" style="">
        <strong>Copyright</strong> Kenya Education Cloud &copy; 2018
    </div>
</div>
<script type="text/javascript">
    function tableRows(data) {
        var tableRows = [];
        for (var i = 0; i < data.length; i++) {
            tableRows.push(drawRow(data[i]));
        }
        return tableRows;
    };
    $.ajax({
        url: "https://publishers.azurewebsites.net/api/GetPublishers",
        type: "GET",
        dataType: "json",
        success: function (data, status, jqhxr) {
            console.log(data);
            //This code snipet prepares to append Json Data
            $('#publishersList').append(tableRows(data));
        }
    });
    //This functionpopulates the tbody inner HTML with json data on call
    function drawRow(rowData) {
        var row = $('<tr class="footable-sortable" />')
        row.append($("<td>" + rowData.Company + "</td>"));
        row.append($("<td>" + rowData.FirstName + "</td>"));
        row.append($("<td>" + rowData.Contact + "</td>"));
        row.append($("<td>" + rowData.Email + "</td>"));
        return row[0];
    };

</script>
@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}

@section Scripts {
    <script src="@Url.Content("~/js/Scripts/bootstrap.min.js")"></script>
    @Scripts.Render("~/plugins/footable")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();

        });
    </script>
}
