@using KEC.ECommerce.Web.UI.Models;
@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}
<div class="border bd-blue">
    <div class="grid">
        <div class="row">
            <div class="cell-md-full">
                <div class="ui horizontal divider">
                    <form class="inline-form" asp-controller="Shopping" asp-action="DestroyCart">
                        @Html.AntiForgeryToken()
                        <span class="fg-orange">My Cart<button type="submit" class="button alert outline rounded m-1 place-right" role="button"><span class="mif-bin icon"></span>Destroy Cart</button></span>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-md-full" id="mycart">
                @{
                    Html.RenderPartial("_ShoppingCartItemsPartial",Model);
                }
            </div>
        </div>
        <div class="row">
            <div class="cell-md-full clear">
                <form asp-controller="Shopping" asp-action="CheckOut" class="h-center w-50-md">
                    @Html.AntiForgeryToken()
                    <div class="clear">
                        <a class="button info outline rounded m-1 place-left-sm" role="button" asp-controller="Home" asp-action="Index"><span class="mif-add-shopping-cart icon"></span>Continue shopping</a>
                        <button type="submit" class="button success outline rounded m-1 place-right-sm" role="button"><span class="mif-cart icon"></span>Check out</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
