@model LicencePageViewModel
<table class="table striped table-border cell-border">
    <thead>
        <tr>
            <th>Licence Code</th>
            <th>Publication</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var licence in Model.Licences)
        {
            <tr>
                <td class="licence">@licence.Code</td>
                <td class="licence">@licence.Publication</td>
                <td class="licence">@licence.ExpiryDate</td>
            </tr>
        }
    </tbody>
</table>