@using KEC.ECommerce.Web.UI.Models;
@model ProductViewModel;

<form class="inline-form" asp-controller="Shopping" asp-action="AddToCart" asp-route-productId="@Model.Id"
      data-ajax="true" data-ajax-update="#shoppingcart" data-ajax-method="POST" data-ajax-mode="replace"
      data-ajax-loading="#Spinner">
    @Html.AntiForgeryToken()
    <input type="number" class="w-50-md m-1" value="1" min="1" max="@Model.Instock" name="quantity" />
    <button class="button info outline rounded m-1"><span class="mif-add-shopping-cart icon"></span>Add to cart</button>
</form>
