@model OrderViewModel

        <div class="row">
            <div class="cell">
                <div class="border bd-blue m-1">
                    <h4 class="text-upper text-center text-bold fg-green p-2">Payment was successful for order number @Model.OrderNumber </h4>
                    <h6 class="fg-blue text-center text-upper text-light p-2">You will be notified once the licences have been processed</h6>
                </div>
            </div>
        </div>
 