@model PinRequestViewModel
<div class="row">
    <div class="cell-md-full">
        <div class="ui horizontal divider">
            <p class="text-center text-bold text-upper fg-orange"><span class="mif-note"></span>Voucher: @Model.VoucherCode</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="cell-md-full">
        <form class="h-center inline-form" asp-controller="Order" asp-action="ProcessPin">
            <div class="h-center">
                <input type="text" required data-role="input" placeholder="Enter voucher pin"
                       name="VoucherPin" asp-for="@Model.VoucherPin" data-prepend="<span>Pin:</span>">
                <input type="hidden" asp-for="@Model.OrderId" />
                <button class="button info outline rounded m-2 place-right">Submit Pin</button>
            </div>

        </form>
    </div>
</div>