<form class="h-center inline-form" asp-controller="Order" asp-action="ProcessPin">
    <div class="h-center">
        <input type="text" required data-role="input" placeholder="Enter voucher pin"
               name="VoucherPin" data-prepend="<span>Pin:</span>">
        <button class="button info outline rounded m-2 place-right">Submit Pin</button>
    </div>

</form>