@model VoucherRequestViewModel


<div class="row">
    <div class="cell-md-full">
        <div class="ui horizontal divider">
            <p class="text-center text-bold text-upper fg-orange"><span class="mif-note"></span>Voucher Payment</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="cell-md-full">
        @{
            await Html.RenderPartialAsync("_ValidationErrorPartial");
        }
    </div>
</div>
<div class="row">
    <div class="cell-md-6 h-center">
        <form asp-controller="Orders" class="m-2" asp-action="ProcessVoucher"
              data-ajax="true" data-ajax-update="#payment" data-ajax-method="POST" data-ajax-success="showValidationErrorInfoBox"
              data-ajax-mode="replace" data-ajax-loading="#spinner" asp-antiforgery="true">
            <input type="hidden" name="orderId" value="@Model.OrderId" />
            <div class="ui segment">
                <div class="field">
                    <input type="text" asp-for="@Model.Vouchercode" required data-role="input" placeholder="Enter voucher code"
                           name="VoucherCode" data-prepend="<span>Voucher:</span>">
                    <button class="button info outline rounded mt-2">Submit Code</button>
                </div>
            </div>
        </form>

    </div>
</div>
