@using KEC.Curation.UI.Models;
@model ChiefCurators
@{
    ViewBag.Title = "RemoveFromRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var UserId = Request.Params["Id"];
    var RoleId = Request.Params["Role"];
}
    <h2>Remove User From Role</h2>
    @using (Html.BeginForm("DeleteRole", "Role"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Username :   <input type="text" name="guid" id="_userName" class="form-control" readonly value="@UserId">
            Role Name:   <input type="text" name="roleName" id="roleName" class="form-control" readonly value="@RoleId">
        </p>

        <input type="submit"  class="btn btn-w-m btn-info" style="background-color:#00B95F;" value="Delete this user from Role" />
    }


