@model IEnumerable<CategoryViewModel>
@foreach (var category in Model)
{
    @if (category.TopProducts.Any())
    {
        <div class="border bd-blue mt-2">
            <div class="grid">
                <div class="row">
                    <div class="cell-md-full">
                        <div class="ui horizontal divider">
                            <p class="text-center text-bold text-upper fg-orange">@category.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row match-height">
                    @foreach (var product in category.TopProducts)
                    {
                        await Html.RenderPartialAsync("_ProductDetailPartial", product);
                    }
                </div>
                <div class="row p-2">
                    <div class="cell">
                        <a asp-action="Publications" asp-controller="Store" asp-route-categoryid="@category.Id" class="button info h-center m-2 outline rounded">
                            View all @category.Name<span class="mif-chevron-right icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    }
}