
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="height:60px;">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" style="background-color:#00B95F" href="#"><i class="fa fa-bars"></i> </a>

        </div>
        @Html.Partial("_LoginPartial")
        
    </nav>
</div>