<div class="row">
    <div class="col-md-12">
        <iframe  allowfullscreen="" webkitallowfullscreen=""  style="height:100vh;width:80vw" 
         src='@Url.Content("~/Scripts/plugins/ViewerJs/")#@Url.Content("~/Content/demodoc.pdf")'></iframe>
    </div>
</div>