<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" style="background-color:white;" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img src="~/Content/plugins/images/logo.png" />
                            </span>
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    KEC
                </div>
            </li>
            
            <li>
                <a href="@Url.Action("Publications","ChiefCurator")"><i class="fa fa-book"></i> <span class="nav-label">Publications</span> </a>
            </li>

            <li>
                <a href="@Url.Action("AssignPublication", "ChiefCurator")"><i class="fa fa-check"></i> <span class="nav-label">Assign Publications</span> </a>
            </li>
            <li>
                <a href="@Url.Action("ViewPublication", "ChiefCurator")"><i class="fa fa-circle"></i> <span class="nav-label">View Publications</span> </a>
            </li>


        </ul>
    </div>
</nav>