<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" style="background-color:white;" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img src="~/Content/plugins/images/logo.png" />
                            </span>
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    KEC
                </div>
            </li>

            <li>
                <a href="@Url.Action("Legal", "Stages")"><i class="fa fa-list"></i> <span class="nav-label">Legal</span> </a>
            </li>
            <li>
                <a href="@Url.Action("Finance", "Stages")"><i class="fa fa-credit-card"></i> <span class="nav-label">Finance</span> </a>
            </li>

        </ul>
    </div>
</nav>