@using Microsoft.Azure.ActiveDirectory.GraphClient
@model User
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" style="background-color:white;" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img src="~/Content/plugins/images/logo.png" />
                           </span>
                        </span>
                    </a>
                   
                </div>
                <div class="logo-element">
                    KEC
                </div>
            </li>
            <li>
                <a href="@Url.Action("SubjectTypes", "Home")"><i class="fa fa-dashboard"></i> <span class="nav-label">Subject Types</span> </a>
            </li>
            <li>
                <a href="@Url.Action("Subjects", "Home")"><i class="fa fa-folder"></i> <span class="nav-label">Create Subjects</span></a>
            </li>
            <li>
                <a href="@Url.Action("Levels", "Home")"><i class="fa fa-file"></i> <span class="nav-label">Create Levels</span> </a>
            </li>

        </ul>
    </div>
</nav>