
@{ 

    ViewBag.Title = "Authorization Failed";
}
<h2 style="text-align:center;"><strong>Authorization Failed For This Resource</strong></h2>

<p style="color:red; text-align:center; font-size:18px; font-weight:400;">@ViewData["Message"]</p>