@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger" style="text-align:center;"><strong>Error.</strong></h1>
<h2 class="text-danger" style="color:red; text-align:center;">An error occurred while processing your request.</h2>

