@using KEC.Curation.UI.Models;
@model ChiefCurators
@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/CustomStyles/DocumentViewer.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/js/chiefCuratorAssignPublication.js"></script>
<script src="~/js/UpdateFullyAssign.js"></script>
<script type="text/javascript">
    (function () {
        $(document).ready(function () {
            $select = $('#UserGuid');
            const apiBaseUrl = "https://curationapi.kec.ac.ke/api"
            let baseUrl = "https://curation.kec.ac.ke/GetUsers/GetCurators"
            let ChiefCuratorsubjectId = $('#SubjectIdNew').val();
            let url = baseUrl.concat(`?subjectId=${ChiefCuratorsubjectId}`)
            //request the JSON data and parse into the select element
            $.ajax({
                headers : {
                    'Access-Controll-Allow-Origin': '*'
                },
                type: 'GET',
                url: url,
                dataType: 'JSON',
                async: false,
                crossDomain: true,
                success: function (data) {
                    //clear the current content of the select
                    $select.html('');
                    //iterate over the data and append a select option
                    $.each(data, function (index, val) {
                        $select.append(`<option id=${val.Text}  value='${val.Text}'+ >${val.Value}</option>`);
                    })
                },
                error: function () {
                    //if there is an error append a 'none available' option
                    $select.html('<option id="-1">none available</option>');
                }
            });

            getPublicationInformation();
        });
        ///Functions Section
        function getPublicationInformation() {
            let Idd = $('#publication-view').attr('data-publicationId');
            console.log(Idd);
            let userGuid2 = $('#CurrentUserGuid').val();
            let assignmentUrl2 = apiBaseUrl.concat(`/chiefcurator/getlistingsChifCurator/${Idd}?id=${Idd}`);
            $.ajax({
                url: assignmentUrl2,
                type: 'GET',
                contentType: 'application/json',
                accepts: 'application/json',
                crossDomain: true,
                data: JSON.stringify({ id: Idd }),
                statusCode: {
                    404: () => { ShowAlert("Publication record could not be retrieved", 'error'); },
                    403: () => { ShowAlert("You are not authorized to access the requested publication", "warning"); },
                    500: () => { ShowAlert("Something went wrong while loading publication", "error"); }
                },

            }).done(function (publications, textStatus, jqXHR) {

                document.getElementById("publicationUrlGot").value = `${publications.publicationUrl}`;
                mimeCheck()
            });
        }
        function mimeCheck() {

            var fileName, fileExtension;
            fileName = $('#publicationUrlGot').val();
            fileExtension = fileName.split('.').pop();
            console.log(fileExtension);
            let mimeTypeCheck = fileExtension;
            console.log(mimeTypeCheck);
            if (mimeTypeCheck == "epub") {
                $('#showEpub').toggleClass('hidden');
                getEpubValue()
            }
            if (mimeTypeCheck == "html") {
                $('#showHtml').toggleClass('hidden');
                getHtmlValue()
            }
            if (mimeTypeCheck == "pdf") {
                $('#showPdf').toggleClass('hidden');
                getPdfValue()
            }
        }
        function getEpubValue() {
            var mimi = document.getElementById("publicationUrlGot").value;
            console.log(mimi);
            var ifrm = document.createElement("iframe");
            ifrm.setAttribute("src", "/Readium/cloud-reader/index.html?epub=" + mimi);
            ifrm.style.width = "1000px";
            ifrm.style.height = "600px";
            document.getElementById("showEpub").appendChild(ifrm);
            window.frames["ifrm"].document.oncontextmenu = function () { return false; };
        }
        function getPdfValue() {
            var mimi = document.getElementById("publicationUrlGot").value;
            var ifrm = document.createElement("iframe");
            ifrm.setAttribute("src", "/Scripts/plugins/ViewerJs/#" + mimi);
            ifrm.style.width = "1000px";
            ifrm.style.height = "600px";
            document.getElementById("showPdf").appendChild(ifrm);  
        }
        function getHtmlValue() {
            $(document).ready(function () {
                var Urlss = document.getElementById("publicationUrlGot").value;
                var ifrm = document.createElement("iframe");
                ifrm.setAttribute("src", `${Urlss}`);
                ifrm.style.width = "1000px";
                ifrm.style.height = "600px";
                document.getElementById("showHtml").appendChild(ifrm);
            });
        }

    })();
</script>

<div class="wrapper wrapper-content animated fadeInRight" id="publication-view" data-publicationId="@ViewBag.PublicationId">
    <div class="form-group col-md-10 hidden">
        <input type="text" name="publicationUrlGot" id="publicationUrlGot" class="form-control">
    </div>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-book"></i> Publication Details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <dl id="publication-details"></dl>
                    </div>
                    <div class="ibox-footer">
                        Publication Details
                    </div>
                </div>
            </div>
            @*-------------------------------------html starts here-------------------------------------*@
            <div id="html" class="panel-body ">
                <div id="showHtml" class="hidden">
                    <div>
                    </div>
                </div>
                @*--------------------------------------html ends here--------------------------------------*@
                @*--------------------------------------epub starts here------------------------------------*@
                <div id="showEpub" class="hidden">
                    <div>
                    </div>
                </div>
                @*------------------------------------epub ends here-------------------------------------*@
            </div>
            @*--------------------------------------pdf starts here------------------------------------*@
            <div id="showPdf" class="hidden">
                <div>
                   
                </div>
            </div>
            @*------------------------------------pdf ends here-------------------------------------*@
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>New Curator assignments</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label for="unassigned-curator">Curator:</label>
                            <input placeholder="Start typing curators name..." class="form-control m-b hidden" id="unassigned-curator" style="" type="text">
                            <select name="UserGuid" id="UserGuid" class="col-md-8 form-control" style="color:black; margin-left:15px;"></select>
                        </div>
                        <div class="form-group">
                            <label for="section-assigned">Instructions:</label>
                            <input placeholder="Instructions to curators..." class="form-control m-b" style="margin-left:15px;" id="section-assigned" style="" type="text">
                        </div>
                        <div class="form-group hidden">
                            <label class="form-check-label form-control">
                                Fully Assigned:
                                <input type="checkbox" class="form-check-input" id="fully-assigned" />
                            </label>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <a href="#" class="btn btn-primary" style="background-color:#00B85F;" data-toggle="modal" data-target="#assign">Assign curator</a>
                            </div>
                            <div class="form-group col-md-6">
                                <a href="#" class="btn btn-info pull-right" data-toggle="modal" data-target="#fully">Mark as Fully Assigned</a>
                            </div>
                        </div>
                        <div class="modal inmodal" id="assign" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Confirm Submission</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Are you sure you want to assign this curator?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                                        <button type="button" id="assign-curator" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal inmodal" id="fully" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Confirm Assignment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p style="text-align:center;">
                                            <b>
                                                Are you sure you have assigned to all curators?<br />
                                                If Yes, click Yes.<br />
                                                If No, Click No and continue assigning.
                                            </b>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                                        <button type="button" id="fully-assign" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listing Curator assignments</h5>
                    </div>
                    <div class="ibox-content">
                        @*<div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example"
                                       data-publicationurl="@ViewBag.AssignPublicationUrl" id="publications-to-curate">
                                    <thead>
                                        <tr>
                                            <th>Publication</th>
                                            <th>Curator</th>
                                            <th>Section</th>
                                            <th>Assignment Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group col-md-10">
    <input type="text" name="CurrentUserGuid" id="CurrentUserGuid" class="form-control hidden" value="@Model.Guid">
</div>
<div class="form-group col-md-10">
    <input type="text" name="SubjectIdNew" id="SubjectIdNew" class="form-control hidden" value="@Model.Subjectid">
</div>


