@{
    ViewBag.Title = "Approved";
    Layout = "~/Views/Shared/_LayoutCert.cshtml";

}
@{
    var Content = Request.Params["Content"];
    var Name = Request.Params["Name"];


}
<link href="http://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="text/css" />

<button id="top" onclick="myFunction()" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Certificate </button>

<div class="middle-box  text-center" style="padding:-200px!important;">

    <img src="~/Content/cert/logo.png" width="200" height="100" style="margin-left:40px;">  <br><br>
    <h1 style="font-family:Tangerine;text-align: center; font-weight: bold; font-size: 60px;">Certificate of  Completion</h1><br /><br />
    <h4>THIS CERTIFIES THAT</h4><br>
    <p style="text-align:center;">
        ________________<u>@Name</u>________________<br /><br />
        HAS SATISFACTORILY COMPLETED THE CURATION REQUIREMENTS<br /><br /> AS <br /><br /> PRESCRIBED BY THE KENYA CLOUD EDUCATION  ON 27th MARCH 2018.

    </p>
    <br /><br /><br /><br />
    <img src="~/Content/cert/cert.jpg" width="150" height="150">

</div>

