@using KEC.Curation.PublishersUI.Models;
@model Publishers
@{
    ViewBag.Title = "Upload Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <script src="~/Scripts/plugins/typehead/bootstrap3-typeahead.min.js"></script>
   

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<div class="wrapper wrapper-content animated fadeInRight" style="margin-top:-40px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h2>
                    @ViewData["SubTitle"]
                </h2>
                <h4>@ViewData["Message"]</h4>
                <br>
                <br>
                <div class="alert alert-success hidden" id="div-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p id="message"></p>
                </div>
                <div class="alert alert-danger hidden" id="div-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p id="error"></p>
                </div>
                <div class="form-group" align="center" id="spinner">
                    <div class="loader"></div>
                </div>

                <form method="post" enctype="multipart/form-data" id="uploadform">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row align-left">
                                <div class="col-sm-3">
                                    <label for="Title">Title</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" name="Title" id="Title" class="form-control" placeholder="Enter Title" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3 hidden">
                                    <label for="Title">ISBN Number</label>
                                </div>
                                <div class="col-sm-9 hidden">
                                    <input type="text" name="ISBNNumber" id="ISBNNumber" class="form-control" placeholder="Enter ISBN Number">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title" style="text-align:right;">Publisher Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" name="PublisherName" id="PublisherName" class="form-control" readonly value="@Model.Company">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Author Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" name="AuthorName" id="AuthorName" class="form-control" placeholder=" Enter Author's' Name" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Price</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" name="Price" id="Price" class="form-control" placeholder="Give Publication Price">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Completion Date</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="date" name="CompletionDate" id="CompletionDate" class="form-control" placeholder="elect Completion Date" required>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Description</label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea name="Description" id="Description" class="form-control" placeholder="Give Brief Description (200 words)" required></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Category</label>
                                </div>
                                <div class="col-sm-9">
                                    <select name="Category" id="Category" class="form-control"></select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Level</label>
                                </div>
                                <div class="col-sm-9">
                                    <select name="LevelId" id="LevelId" class="form-control"></select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Subject</label>
                                </div>
                                <div class="col-sm-9">
                                    <select name="SubjectId" id="SubjectId" class="form-control"></select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3" hidden>
                                    <label for="Title">Unique Identifier</label>
                                </div>
                                <div class="col-sm-9" hidden>
                                    <input type="text" name="UserGuid" id="UserGuid" class="form-control" readonly value="@Model.guid">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Title">Publication File</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="file" name="PublicationFile" id="PublicationFile" class="form-control" required>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div>
                            <button data-toggle="modal" data-target="#confirm" style="background-color:#00af57;" class="btn btn-w-m btn-primary pull-right">SUBMIT PUBLICATION</button>
                        </div>
                        <div class="modal inmodal" id="confirm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Confirm Submission</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p id="messagem">
                                            Are you sure you want to submit this publication?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                                        <button type="submit" id="btn-postFile" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/plugins/notify/notify.min.js"></script>
<script type="text/JavaScript">
    //get a reference to the select element
    $subjectId = $('#SubjectId');
    //request the JSON data and parse into the select element
    $.ajax({
        type: 'GET',
        url: "https://publisherapi.kec.ac.ke/api/Subjects",
        dataType: 'JSON',
        success: function (data) {
            //clear the current content of the select
            $subjectId.html('');
            //iterate over the data and append a select option
            $.each(data, function (index, val) {
                $subjectId.append(`<option id=${val.id}  value='${val.id}'+ >${val.name}</option>`);
            })
        },
        error: function () {
            //if there is an error append a 'none available' option
            $subjectId.html('<option id="-1">none available</option>');
        }
    });

</script>

<script type="text/JavaScript">
    //get a reference to the select element
    $levelId = $('#LevelId');
    //request the JSON data and parse into the select element
    $.ajax({
        type: 'GET',
        url: "https://publisherapi.kec.ac.ke/api/Levels",
        dataType: 'JSON',
        success: function (data) {
            //clear the current content of the select
            $levelId.html('');
            //iterate over the data and append a select option
            $.each(data, function (index, val) {
                $levelId.append(`<option id=${val.id}  value='${val.id}'+ >${val.name}</option>`);
            })
        },
        error: function () {
            //if there is an error append a 'none available' option
            $levelId.html('<option id="-1">none available</option>');
        }
    });

</script>
<script type="text/JavaScript">
    //get a reference to the select element
    $category = $('#Category');
    //request the JSON data and parse into the select element
    $.ajax({
        type: 'GET',
        url: 'https://publisherapi.kec.ac.ke/api/SubjectTypes',
        dataType: 'JSON',
        success: function (data) {
            //clear the current content of the select
            $category.html('');
            //iterate over the data and append a select option
            $.each(data, function (index, val) {
                $category.append(`<option id=${val.id}  value='${val.id}'+ >${val.name}</option>`);
            })
        },
        error: function () {
            //if there is an error append a 'none available' option
            $category.html('<option id="-1">none available</option>');
        }
    });

</script>
<script type="text/JavaScript">
    const apiBaseUrls = "https://publisherapi.kec.ac.ke/api";
    let publicationSubmitUrl = apiBaseUrls.concat(`/Publications/submit`);

    $('#btn-postFile').click(function (e) {
        e.preventDefault();

        $('#btn-postFile').html('<i class="fa fa-refresh fa-spin"></i> Please wait');
        var form_data = new FormData($('#uploadform')[0]);

        $.ajax({
            type: 'POST',
            url: publicationSubmitUrl,
            processData: false,
            contentType: false,
            async: true,
            cache: false,
            data: form_data,
            success: function (response, status, jxhr) {
               
                $('#div-danger').toggle('hidden');
                $('#btn-postFile').html('Yes');
                $('#confirm').modal('hide');
                $('.modal-backdrop').remove();
                $('#message').html(response);
                $('div.alert-success').toggleClass('hidden');
                setTimeout(function () {
                    window.location.reload(1);
                }, 5000);
            },
            error: function (response, status, jxhr) {

                $('#btn-postFile').html('Yes');
                $('#confirm').modal('hide');
                $('.modal-backdrop').remove();
                $('#error').html("Please Fill All Fields")
                $('div.alert-danger').toggleClass('hidden');
                
            }
        });
    });
</script>

