@{
    ViewBag.Title = "Voucher Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/js/ClientVoucher.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/plugins/footable/footable.all.min.js"></script>
<link href="~/Content/footable/footable.core.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                Kenya Education Cloud
            </h1>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">

                <h5>Search For a  Voucher / School To View Transactions</h5>
            </div>
            <div class="ibox-content">
                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search For a  Voucher / School To View Transactions">
                <table id="createdvouchers" class="footable table table-stripped" data-page-size="25" data-filter=#filter>
                    <tr class="footable-sortable">
                        <th style="display:none;"> ID </th>
                        <th> VOUCHER CODE </th>
                        <th> SCHOOL NAME</th>
                        <th> AMOUNT</th>
                        <th> STATUS</th>
                        <th> TRANSACTIONS</th>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/footable")
    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();

        });
    </script>
}


