@using KEC.Voucher.UI.Models
@model VoucherUser
@{
    ViewBag.Title = "Voucher Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/ClientTransaction.js"></script>
<script src="~/js/accounting.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/plugins/footable/footable.all.min.js"></script>
<link href="~/Content/footable/footable.core.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                Kenya Education Cloud
            </h1>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Search For a  Voucher / School To View Transactions</h5>
            </div>
            <div class="ibox-content">
                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search For a  Voucher / School To View Transactions">
                <table id="createdtransactions" class="footable table table-stripped" data-page-size="25" data-filter=#filter>
                    <tr class="footable-sortable">
                        <th style="display:none;"> ID </th>
                        <th> DATE </th>
                        <th> ORDER NUMBER</th>
                        <th> AMOUNT</th>
                        <th> BALANCE</th>
                        <th>TRANSACTED BY</th>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group col-md-10">
    <input type="text" name="CurrentUserGuid" id="CurrentUserGuid" class="form-control hidden" value="@Model.Email">
</div>
@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/footable")
    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();

        });
    </script>


    <!-- Foo Pagination Starts Here -->
    <!-- Foo Pagination Stops Here -->
    <script type="text/JavaScript">
        function tableRows(data) {
            var tableRows = [];
            for (var i = 0; i < data.length; i++) {
                tableRows.push(drawRow(data[i]));
            }
            return tableRows;
        };
        //Start by getting voucher list based on batch Id
        var d = new Date();
        var n = d.getFullYear();
        let email = $('#CurrentUserGuid').val();
        let baseUrl = "https://voucherapi.kec.ac.ke/api";
        $.ajax({
            url: baseUrl.concat(`/transactions/Email?email=${email}`),
            type: "GET",
            dataType: "json",
            success: function (data, status, jqhxr) {
                console.log(data);

                //This code snipet prepares to append Json Data
                $('#createdtransactions').append(tableRows(data));
            }
        });

        //This functionpopulates the tbody inner HTML with json data on call
        function drawRow(rowData) {
            var row = $("<tr />")
            row.append($('<td class="hidden"> + rowData.Id + </td>'));
            row.append($("<td>" + rowData.TransactionDate + "</td>"));
            row.append($("<td>" + rowData.TransactionDescription + "</td>"));
            row.append($("<td>" + rowData.TransactionAmount + "</td>"));
            row.append($("<td>" + rowData.Balance + "</td>"));
            row.append($("<td>" + rowData.TransactedBy + "</td>"));

            return row[0];
        }
    </script>

    @*<script type="text/JavaScript">
            //Global Table Rows Is Defined Here
            function tableRows(data) {
                var tableRows = [];
                for (var i = 0; i < data.length; i++) {
                    tableRows.push(drawRow(data[i]));
                }
                return tableRows;
            }
            //Global Table Rows Is Definition Ends Here

            //ajax GET  Transaction Information Starts Here
            $(document).ready(function () {
                var id = $('#voucher').attr('data-fund');
                console.log(id);
                $.ajax({
                    url: `https://voucherapi.kec.ac.ke/api/transactions/Voucher/${id}`,

                    type: "GET",
                    headers :  {
                        'Accept' :  'application/json',
                        'Content-Type' :  'application/json',
                        'Access-Control-Expose-Headers': '*'
                    },
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                    }
                });
                //ajax GET  Transaction Infrmation Ends Here

                //Ajax GET Voucher Information Starts Here
                $.ajax({
                    url: `https://voucherapi.kec.ac.ke/api/vouchers/info/${id}`,

                    type: "GET",
                    headers :  {
                        'Accept' :  'application/json',
                        'Content-Type' :  'application/json',
                        'Access-Control-Expose-Headers': '*'
                    },
                    //ajax GET Voucher Information Ends Here

                    //Append To Labels Starts Here
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {

                        // Convert UTC Time To Local Then To Simple
                        var Bdate = new Date(data.BalanceDate);
                        var BDate = ((Bdate.getDate() + "-" + Bdate.getMonth() + 1) + "-" + Bdate.getFullYear());
                        BDate.toString();

                        //Convert Balance to Currency
                        var bal = accounting.formatMoney(data.Balance, { symbol: "KES", format: "%v %s" });
                        bal.toString();
                        console.log(bal);
                        $('#SchoolCounty').html(data.County);
                        $('#SchoolName').html(data.SchoolName);
                        $('#SchoolType').html(data.SchoolType);
                        $('#VoucherBalance').html(bal);
                        $('#VoucherStatus').html(data.Status);
                        $('#VoucherLastUse').html(BDate);
                    }
                });
                //Append To Labels Stops Here

                //Draw Table Rows
                function drawRow(rowData) {
                    var row = $('<tr class="footable-sortable" />')
                    row.append($("<td>" + rowData.TransactionDate + "</td>"));
                    row.append($("<td>" + rowData.Pin + "</td>"));
                    row.append($("<td>" + rowData.TransactionDescription + "</td>"));
                    row.append($("<td>" + rowData.TransactionAmount + "</td>"));
                    row.append($("<td>" + rowData.TransactedBy + "</td>"));
                    return row[0];
                }
                //Draw Table Rows Stops Here

                //Script Ends / Stops Here
            });
        </script>*@

    <script type="text/javascript">
        // Library ready to use:
        accounting.formatMoney(5318008);
    </script>
}



