
@{
    ViewBag.Title = "PrincipalCurator";
    Layout = "~/Views/Shared/_LayoutPrincipalCurator.cshtml";
}

@section Scripts
{
    
    <script src="@Url.Content("~/js/globalConstants.js")"></script>
    <script src="@Url.Content("~/js/PrincipalCurator.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/typehead/bootstrap3-typeahead.min.js")"></script>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Publications To Assign To Chief Curators</h5>

                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="LegalList">
                            <thead>
                                <tr>
                                    <th> ID</th>
                                    <th> PUBLICATION</th>
                                    <th> TITLE </th>
                                    <th style="text-align:right;"> ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody id="unassigned-publications"></tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



