
@{
    ViewBag.Title = "Legal";
    Layout = "~/Views/Shared/_LayoutPrincipalCurator.cshtml";
}
@{
    var Title = Request.Params["Title"];
    var Stage = Request.Params["Stage"];
    var Publication = Request.Params["Publication"];
    var KICDNumber = Request.Params["Publication"];

}




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                <small>@ViewData["Message"]</small>
                <br>
                <br>
                <div class="alert alert-success hidden">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p id="message"></p>
                </div>
                <div class="alert alert-danger hidden">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p id="error"></p>
                </div>
                <!--Uploding code starts here-->
                <div class="form-group">
                    <div class="panel panel-info text-justify">
                        <div class="panel-heading">PUBLICATION INFORMATION</div>
                        <div class="panel-body">

                            <span id="kicd" data-kicdNumber=@KICDNumber><strong>Title:&nbsp;</strong></span>@Title                &nbsp;&nbsp;<span class="pull-right"><strong>Read Publication:&nbsp;</strong></span><br>
                            <span><strong>Stage:&nbsp;</strong></span>@Stage<br>
                            <span><strong>Publication:&nbsp;</strong></span>@Publication

                        </div>


                        <a class="button btn btn-w-m btn-primary pull-right" href="/PrincipalCurator/PrincipalCurator">BACK TO PUBLICATIONS</a>

                    </div>
                    <div class="form-group" style="text-align:left;">
                        <label for="comment">Select Chief Curator:</label>
                        <select name="UserGuid" id="UserGuid" class="form-control">
                            <option value="8615cf07-be1c-4103-b75e-fbff2cb91667">Chief Curator 1</option>
                            <option value="657d3880-612b-42ea-a2eb-390b3e7e111c">Chief Curator 2</option>
                        </select>
                    </div>
                    <br>
                    <!--Uploding code ends here-->
                    <div class="form-group" style="text-align:left;">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="notes" data-notess></textarea>
                    </div>
                    <br>

                    <div class="row">

                        <div class="form-group">
                            <button type="button" name="LegalApprove" id="LegalApprove" class="btn btn-w-m btn-primary pull-right">ASSIGN</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>


<script type="text/JavaScript">
    //get a reference to the select element
    $userGuid = $('#UserGuids');
    //request the JSON data and parse into the select element
    $.ajax({
        type: 'GET',
        url: "http://curationapi-d.kec.ac.ke/api/Subjects",
        dataType: 'JSON',
        success: function (data) {
            //clear the current content of the select
            $userGuid.html('');
            //iterate over the data and append a select option
            $.each(data, function (index, val) {
                $userGuid.append(`<option id=${val.id}  value='${val.id}'+ >${val.name}</option>`);
            })
        },
        error: function () {
            //if there is an error append a 'none available' option
            $userGuid.html('<option id="-1">none available</option>');
        }
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#LegalApprove').click(function () {
            $('#LegalApprove').html('<i class="fa fa-refresh fa-spin"></i> Please wait');

            var kicdnumber = $('#kicd').attr('data-kicdNumber');
            var notes = $('#notes').val();
            var action = "PublicationMoveToNextStage";
            var stages = "LegalVerification";
            var guid = "123e4567-e89b-12d3-a456-426655440000";
            var guid2 = "123e4567-e89b-12d3-a456-426655440001";
            var section = "";
            console.log(`${kicdnumber}`);
            console.log(` ${notes} `);
            $.ajax({
                headers :  {
                    'Accept' :  'application/json',
                    'Content-Type' :  'application/json'
                },
                url: "http://curationapi-d.kec.ac.ke/api/Curation/1/assign",
                type: "POST",
                data: JSON.stringify({AssignedBy: guid, Assignee: guid2, FullyAssigned: true }),

                success: function (response, status, jxhr) {
                    console.log(response);
                    console.log(status);
                    $('#message').html(` ${response}.`)
                    $('div.alert-success').toggleClass('hidden');
                    $('#LegalApprove').html('APPROVE');

                },
                error: function (request, status, error) {

                    console.log(request);
                    console.log(status);

                    console.log(request.responseText);
                    $('#error').html(request.responseText)
                    $('div.alert-danger').toggleClass('hidden');
                    $('#LegalApprove').html('APPROVE');


                }
            });


        });
    },

    );
</script>