
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="@Url.Content("~/js/chiefCurator.js")"></script>
}

<h2> Unassigned Publications</h2>

