@{
    ViewData["Title"] = "Home";
}
<div class="carousel" data-role="carousel" data-height="450">
    <div class="slide" data-cover="images/main2.jpeg" data-width="100%" data-height="900">
    </div>

    <div class="slide" data-cover="images/main-bg.jpg" data-width="100%">
    </div>

    <a class="controls left"><i class="icon-arrow-left-3"></i></a>
    <a class="controls right"><i class="icon-arrow-right-3"></i></a>
</div>
@await Component.InvokeAsync("AdvertCarousel")
@await Component.InvokeAsync("TopProducts")
@*@await Component.InvokeAsync("BestSeller")*@


<script>
    $('.carousel').carousel();

    $('.carousel').carousel({
        auto: false,
        period: 3000,
        duration: 2000,
        markers: {
            type: "square"
        }
    });
</script>